FileExplorer/.vs
FileExplorer/.vs/
FileExplorer/FileExplorer/obj/Debug/FileExplorer_MarkupCompile.cache
FileExplorer/FileExplorer/obj/Debug/FileExplorer_MarkupCompile.cache
FileExplorer/FileExplorer/obj/Debug/FileExplorer_MarkupCompile.cache
FileExplorer/FileExplorer/obj/Debug/FileExplorer_MarkupCompile.cache
FileExplorer/FileExplorer/obj/Debug/FileExplorer_MarkupCompile.cache
*.cache
